In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("dataset/survey_results_public.csv")

In [3]:
df.head()

,ResponseId,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I agree,None of these,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,Never,15-30 minutes a day,15-30 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,285000.0
2,3,I agree,I am a developer by profession,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Formal documentation provided by the owner of ...,...,6-10 times a week,6-10 times a week,3-5 times a week,30-60 minutes a day,30-60 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,250000.0
3,4,I agree,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Friend or family member;Other online...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,1-2 times a week,15-30 minutes a day,30-60 minutes a day,Automated testing;Continuous integration (CI) ...,NaN,Appropriate in length,Easy,156000.0
4,5,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Contribute to open-source projects;Profe...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,...,1-2 times a week,1-2 times a week,3-5 times a week,60-120 minutes a day,30-60 minutes a day,Microservices;Automated testing;Observability ...,Other,Appropriate in length,Neither easy nor difficult,23456.0

In [4]:
df.columns

Index(['ResponseId', 'Q120', 'MainBranch', 'Age', 'Employment', 'RemoteWork',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       'LearnCodeCoursesCert', 'YearsCode', 'YearsCodePro', 'DevType',
       'OrgSize', 'PurchaseInfluence', 'TechList', 'BuyNewTool', 'Country',
       'Currency', 'CompTotal', 'LanguageHaveWorkedWith',
       'LanguageWantToWorkWith', 'DatabaseHaveWorkedWith',
       'DatabaseWantToWorkWith', 'PlatformHaveWorkedWith',
       'PlatformWantToWorkWith', 'WebframeHaveWorkedWith',
       'WebframeWantToWorkWith', 'MiscTechHaveWorkedWith',
       'MiscTechWantToWorkWith', 'ToolsTechHaveWorkedWith',
       'ToolsTechWantToWorkWith', 'NEWCollabToolsHaveWorkedWith',
       'NEWCollabToolsWantToWorkWith', 'OpSysPersonal use',
       'OpSysProfessional use', 'OfficeStackAsyncHaveWorkedWith',
       'OfficeStackAsyncWantToWorkWith', 'OfficeStackSyncHaveWorkedWith',
       'OfficeStackSyncWantToWorkWith', 'AISearchHaveWorkedWith',
       'AISearchWantToWorkWith', 'AIDevHaveWorkedWith', 'AIDevWantToWorkWith',
       'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq', 'SOComm',
       'SOAI', 'AISelect', 'AISent', 'AIAcc', 'AIBen',
       'AIToolInterested in Using', 'AIToolCurrently Using',
       'AIToolNot interested in Using', 'AINextVery different',
       'AINextNeither different nor similar', 'AINextSomewhat similar',
       'AINextVery similar', 'AINextSomewhat different', 'TBranch', 'ICorPM',
       'WorkExp', 'Knowledge_1', 'Knowledge_2', 'Knowledge_3', 'Knowledge_4',
       'Knowledge_5', 'Knowledge_6', 'Knowledge_7', 'Knowledge_8',
       'Frequency_1', 'Frequency_2', 'Frequency_3', 'TimeSearching',
       'TimeAnswering', 'ProfessionalTech', 'Industry', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

### Retrieve the data from the LanguageHaveWorkedWith column

In [5]:
languages_worked_with = df['LanguageHaveWorkedWith']
languages_worked_with

0                                                      NaN
1                               HTML/CSS;JavaScript;Python
2                               Bash/Shell (all shells);Go
3        Bash/Shell (all shells);HTML/CSS;JavaScript;PH...
4                           HTML/CSS;JavaScript;TypeScript
                               ...
89179              HTML/CSS;Java;JavaScript;SQL;TypeScript
89180                                 Dart;Java;Python;SQL
89181    Assembly;Bash/Shell (all shells);C;C#;Python;R...
89182    Bash/Shell (all shells);C#;HTML/CSS;Java;JavaS...
89183                      C#;Go;JavaScript;SQL;TypeScript
Name: LanguageHaveWorkedWith, Length: 89184, dtype: object

In [6]:
# Drop rows with NaN values in 'LanguageHaveWorkedWith' column
cleaned_languages = df['LanguageHaveWorkedWith'].dropna()
print(cleaned_languages)

1                               HTML/CSS;JavaScript;Python
2                               Bash/Shell (all shells);Go
3        Bash/Shell (all shells);HTML/CSS;JavaScript;PH...
4                           HTML/CSS;JavaScript;TypeScript
5        Bash/Shell (all shells);HTML/CSS;JavaScript;Ru...
                               ...
89179              HTML/CSS;Java;JavaScript;SQL;TypeScript
89180                                 Dart;Java;Python;SQL
89181    Assembly;Bash/Shell (all shells);C;C#;Python;R...
89182    Bash/Shell (all shells);C#;HTML/CSS;Java;JavaS...
89183                      C#;Go;JavaScript;SQL;TypeScript
Name: LanguageHaveWorkedWith, Length: 87140, dtype: object

In [7]:
# Split the langiages into individual skills
skillset_language_list = cleaned_languages.str.split(';').explode()
skillset_language_list

1                       HTML/CSS
1                     JavaScript
1                         Python
2        Bash/Shell (all shells)
2                             Go
                  ...
89183                         C#
89183                         Go
89183                 JavaScript
89183                        SQL
89183                 TypeScript
Name: LanguageHaveWorkedWith, Length: 466157, dtype: object

In [8]:
# Use unique() to get unique values

skillset_language = pd.DataFrame({
    'name': skillset_language_list.unique(),
    'types': 'language'
})

# Replace values in the 'name' column
skillset_language['name'] = skillset_language['name'].replace({
    'HTML/CSS': 'HTML CSS',
    'Bash/Shell (all shells)': 'Bash Shell'
})

# Display the updated skillset_language DataFrame with unique values
print(skillset_language)

                   name     types
0              HTML CSS  language
1            JavaScript  language
2                Python  language
3            Bash Shell  language
4                    Go  language
5                   PHP  language
6                  Ruby  language
7                   SQL  language
8            TypeScript  language
9                   Ada  language
10              Clojure  language
11               Elixir  language
12                 Java  language
13                 Lisp  language
14                OCaml  language
15                 Raku  language
16                Scala  language
17                Swift  language
18                  Zig  language
19                 Rust  language
20                   C#  language
21           PowerShell  language
22                  C++  language
23               Kotlin  language
24             Solidity  language
25                    C  language
26                 Perl  language
27                 Dart  language
28              Haskell  language
29             Assembly  language
30               Delphi  language
31                    R  language
32                  Lua  language
33               MATLAB  language
34                  VBA  language
35  Visual Basic (.Net)  language
36                Julia  language
37                   F#  language
38               Groovy  language
39                  APL  language
40          Objective-C  language
41             GDScript  language
42              Crystal  language
43                Cobol  language
44              Fortran  language
45               Prolog  language
46               Erlang  language
47                 Apex  language
48                  SAS  language
49                  Nim  language
50                 Flow  language

In [9]:
import os
import json

output_path = '/dataset/json'
output_file = 'skillset_language.json'

# Use the current working directory as the base path
base_path = os.getcwd()

# Specify the relative path within the current working directory
output_path = os.path.join(base_path, 'dataset/json')

# Create the output directory if it doesn't exist
os.makedirs(output_path, exist_ok=True)

# Create the output directory if it doesn't exist
os.makedirs(output_path, exist_ok=True)

# Save the DataFrame to a JSON file with the desired structure
skillset_json = {
    "skillset_language": skillset_language.to_dict(orient='records')
}

# Save to file
with open(os.path.join(output_path, output_file), 'w') as json_file:
    json.dump(skillset_json, json_file, indent=2)

In [10]:
databas_worked_with = df['DatabaseHaveWorkedWith']
databas_worked_with

0                                                      NaN
1                                                 Supabase
2                                                      NaN
3                                         PostgreSQL;Redis
4                BigQuery;Elasticsearch;MongoDB;PostgreSQL
                               ...
89179                      MongoDB;MySQL;PostgreSQL;SQLite
89180                                           PostgreSQL
89181                                               SQLite
89182    MariaDB;Microsoft SQL Server;MongoDB;MySQL;Red...
89183                    Microsoft SQL Server;Redis;SQLite
Name: DatabaseHaveWorkedWith, Length: 89184, dtype: object

In [11]:
# Drop rows with NaN values in 'DatabaseHaveWorkedWith' column
cleaned_database = df['DatabaseHaveWorkedWith'].dropna()
print(cleaned_database)

1                                                 Supabase
3                                         PostgreSQL;Redis
4                BigQuery;Elasticsearch;MongoDB;PostgreSQL
5                BigQuery;Cloud Firestore;PostgreSQL;Redis
6        MariaDB;Microsoft SQL Server;MySQL;PostgreSQL;...
                               ...
89179                      MongoDB;MySQL;PostgreSQL;SQLite
89180                                           PostgreSQL
89181                                               SQLite
89182    MariaDB;Microsoft SQL Server;MongoDB;MySQL;Red...
89183                    Microsoft SQL Server;Redis;SQLite
Name: DatabaseHaveWorkedWith, Length: 73435, dtype: object

In [12]:
# Split the databases into individual skills
skillset_database_list = cleaned_database.str.split(';').explode()
skillset_database_list

1                    Supabase
3                  PostgreSQL
3                       Redis
4                    BigQuery
4               Elasticsearch
                 ...
89182                   Redis
89182                  SQLite
89183    Microsoft SQL Server
89183                   Redis
89183                  SQLite
Name: DatabaseHaveWorkedWith, Length: 222246, dtype: object

In [13]:
# Use unique() to get unique values

skillset_database = pd.DataFrame({
    'name': skillset_database_list.unique(),
    'types': 'database'
})

# Display the updated skillset_database DataFrame with unique values
print(skillset_database)

                          name     types
0                     Supabase  database
1                   PostgreSQL  database
2                        Redis  database
3                     BigQuery  database
4                Elasticsearch  database
5                      MongoDB  database
6              Cloud Firestore  database
7                      MariaDB  database
8         Microsoft SQL Server  database
9                        MySQL  database
10                      SQLite  database
11                    Dynamodb  database
12                   Cosmos DB  database
13                   Cassandra  database
14                          H2  database
15                      Oracle  database
16                     Datomic  database
17                    InfluxDB  database
18  Firebase Realtime Database  database
19            Microsoft Access  database
20                    Firebird  database
21                     IBM DB2  database
22                        Solr  database
23                 Cockroachdb  database
24                   Snowflake  database
25                    Couch DB  database
26                     RavenDB  database
27                       Neo4J  database
28                  Clickhouse  database
29                      DuckDB  database
30                        TiDB  database
31                   Couchbase  database

In [14]:
output_path = '/dataset/json'
output_file = 'skillset_database.json'

# Use the current working directory as the base path
base_path = os.getcwd()

# Specify the relative path within the current working directory
output_path = os.path.join(base_path, 'dataset/json')

# Create the output directory if it doesn't exist
os.makedirs(output_path, exist_ok=True)

# Create the output directory if it doesn't exist
os.makedirs(output_path, exist_ok=True)

# Save the DataFrame to a JSON file with the desired structure
skillset_json = {
    "skillset_database": skillset_database.to_dict(orient='records')
}

# Save to file
with open(os.path.join(output_path, output_file), 'w') as json_file:
    json.dump(skillset_json, json_file, indent=2)

In [15]:
web_framework_worked_with = df['WebframeHaveWorkedWith']
web_framework_worked_with

0                                                      NaN
1                               Next.js;React;Remix;Vue.js
2                                                      NaN
3             Node.js;React;Ruby on Rails;Vue.js;WordPress
4              Express;Gatsby;NestJS;Next.js;Node.js;React
                               ...
89179    Angular;AngularJS;Express;jQuery;Node.js;Nuxt....
89180                                          Spring Boot
89181                                                  NaN
89182              Express;Next.js;Node.js;React;WordPress
89183          Angular;ASP.NET;ASP.NET CORE;Blazor;Node.js
Name: WebframeHaveWorkedWith, Length: 89184, dtype: object

In [16]:
# Drop rows with NaN values in 'WebframeHaveWorkedWith' column
cleaned_web_framework = df['WebframeHaveWorkedWith'].dropna()
print(cleaned_web_framework)

1                               Next.js;React;Remix;Vue.js
3             Node.js;React;Ruby on Rails;Vue.js;WordPress
4              Express;Gatsby;NestJS;Next.js;Node.js;React
5                           Angular;Express;NestJS;Node.js
6        AngularJS;jQuery;Node.js;Phoenix;Ruby on Rails...
                               ...
89178                          Express;Node.js;Spring Boot
89179    Angular;AngularJS;Express;jQuery;Node.js;Nuxt....
89180                                          Spring Boot
89182              Express;Next.js;Node.js;React;WordPress
89183          Angular;ASP.NET;ASP.NET CORE;Blazor;Node.js
Name: WebframeHaveWorkedWith, Length: 66938, dtype: object

In [17]:
# Split the webframework into individual skills
skills_list_web_framework = cleaned_web_framework.str.split(';').explode()
skills_list_web_framework

1             Next.js
1               React
1               Remix
1              Vue.js
3             Node.js
             ...
89183         Angular
89183         ASP.NET
89183    ASP.NET CORE
89183          Blazor
89183         Node.js
Name: WebframeHaveWorkedWith, Length: 231456, dtype: object

In [18]:
# Use unique() to get unique values

skillset_web_framework = pd.DataFrame({
    'name': skills_list_web_framework.unique(),
    'types': 'webframework'
})

# Display the updated skillset_web_framework DataFrame with unique values
print(skillset_web_framework)

              name         types
0          Next.js  webframework
1            React  webframework
2            Remix  webframework
3           Vue.js  webframework
4          Node.js  webframework
5    Ruby on Rails  webframework
6        WordPress  webframework
7          Express  webframework
8           Gatsby  webframework
9           NestJS  webframework
10         Angular  webframework
11       AngularJS  webframework
12          jQuery  webframework
13         Phoenix  webframework
14        Solid.js  webframework
15          Svelte  webframework
16    ASP.NET CORE  webframework
17           Flask  webframework
18             Elm  webframework
19         Nuxt.js  webframework
20         Fastify  webframework
21     Spring Boot  webframework
22         Laravel  webframework
23         FastAPI  webframework
24         Symfony  webframework
25          Django  webframework
26            Deno  webframework
27         ASP.NET  webframework
28          Blazor  webframework
29     CodeIgniter  webframework
30          Drupal  webframework
31            Qwik  webframework
32  Play Framework  webframework
33             Lit  webframework

In [19]:
output_path = '/dataset/json'
output_file = 'skillset_web_framework.json'

# Use the current working directory as the base path
base_path = os.getcwd()

# Specify the relative path within the current working directory
output_path = os.path.join(base_path, 'dataset/json')

# Create the output directory if it doesn't exist
os.makedirs(output_path, exist_ok=True)

# Create the output directory if it doesn't exist
os.makedirs(output_path, exist_ok=True)

# Save the DataFrame to a JSON file with the desired structure
skillset_json = {
    "skillset_web_framework": skillset_web_framework.to_dict(orient='records')
}

# Save to file
with open(os.path.join(output_path, output_file), 'w') as json_file:
    json.dump(skillset_json, json_file, indent=2)

In [20]:
platform_worked_with = df['PlatformHaveWorkedWith']
platform_worked_with

0                                                      NaN
1                 Amazon Web Services (AWS);Netlify;Vercel
2        Amazon Web Services (AWS);Google Cloud;OpenSta...
3                                        Cloudflare;Heroku
4        Amazon Web Services (AWS);Firebase;Heroku;Netl...
                               ...
89179    Digital Ocean;Firebase;Google Cloud;Heroku;Vercel
89180                                                  NaN
89181                            Amazon Web Services (AWS)
89182    Amazon Web Services (AWS);Cloudflare;Google Cl...
89183                                              Hetzner
Name: PlatformHaveWorkedWith, Length: 89184, dtype: object

In [21]:
# Drop rows with NaN values in 'PlatformHaveWorkedWith' column
cleaned_platform = df['PlatformHaveWorkedWith'].dropna()
print(cleaned_platform)

1                 Amazon Web Services (AWS);Netlify;Vercel
2        Amazon Web Services (AWS);Google Cloud;OpenSta...
3                                        Cloudflare;Heroku
4        Amazon Web Services (AWS);Firebase;Heroku;Netl...
5        Amazon Web Services (AWS);Cloudflare;Google Cloud
                               ...
89178                            Amazon Web Services (AWS)
89179    Digital Ocean;Firebase;Google Cloud;Heroku;Vercel
89181                            Amazon Web Services (AWS)
89182    Amazon Web Services (AWS);Cloudflare;Google Cl...
89183                                              Hetzner
Name: PlatformHaveWorkedWith, Length: 63628, dtype: object

In [22]:
# Split the platform into individual skills
skills_list_platform = cleaned_platform.str.split(';').explode()
skills_list_platform

1        Amazon Web Services (AWS)
1                          Netlify
1                           Vercel
2        Amazon Web Services (AWS)
2                     Google Cloud
                   ...
89182    Amazon Web Services (AWS)
89182                   Cloudflare
89182                 Google Cloud
89182              Microsoft Azure
89183                      Hetzner
Name: PlatformHaveWorkedWith, Length: 147512, dtype: object

In [23]:
# Use unique() to get unique values

skillset_platform = pd.DataFrame({
    'name': skills_list_platform.unique(),
    'types': 'platform'
})

# Display the updated skillset_platform DataFrame with unique values
print(skillset_platform)

                                 name     types
0           Amazon Web Services (AWS)  platform
1                             Netlify  platform
2                              Vercel  platform
3                        Google Cloud  platform
4                           OpenStack  platform
5                              VMware  platform
6                               Vultr  platform
7                          Cloudflare  platform
8                              Heroku  platform
9                            Firebase  platform
10                      Digital Ocean  platform
11                             Fly.io  platform
12                    Microsoft Azure  platform
13                             Render  platform
14                            Hetzner  platform
15                          OpenShift  platform
16                                OVH  platform
17                    Managed Hosting  platform
18  Oracle Cloud Infrastructure (OCI)  platform
19                 Linode, now Akamai  platform
20                         Colocation  platform
21                           Scaleway  platform
22                IBM Cloud Or Watson  platform

In [24]:
output_path = '/dataset/json'
output_file = 'skillset_platform.json'

# Use the current working directory as the base path
base_path = os.getcwd()

# Specify the relative path within the current working directory
output_path = os.path.join(base_path, 'dataset/json')

# Create the output directory if it doesn't exist
os.makedirs(output_path, exist_ok=True)

# Create the output directory if it doesn't exist
os.makedirs(output_path, exist_ok=True)

# Save the DataFrame to a JSON file with the desired structure
skillset_json = {
    "skillset_platform": skillset_platform.to_dict(orient='records')
}

# Save to file
with open(os.path.join(output_path, output_file), 'w') as json_file:
    json.dump(skillset_json, json_file, indent=2)

In [25]:
### Create skillset and combine the individual skillset DataFrames into a single DataFrame and then save it to a JSON file

# Combine individual skillset DataFrames into a single DataFrame
combined_skillset = pd.concat([skillset_language, skillset_database, skillset_web_framework, skillset_platform])

# Display the combined skillset DataFrame
print(combined_skillset)

                                 name     types
0                            HTML CSS  language
1                          JavaScript  language
2                              Python  language
3                          Bash Shell  language
4                                  Go  language
..                                ...       ...
18  Oracle Cloud Infrastructure (OCI)  platform
19                 Linode, now Akamai  platform
20                         Colocation  platform
21                           Scaleway  platform
22                IBM Cloud Or Watson  platform

[140 rows x 2 columns]

In [26]:
output_path = '/dataset/json'
output_file = 'skillset.json'

# Use the current working directory as the base path
base_path = os.getcwd()

# Specify the relative path within the current working directory
output_path = os.path.join(base_path, 'dataset/json')

# Create the output directory if it doesn't exist
os.makedirs(output_path, exist_ok=True)

# Create the output directory if it doesn't exist
os.makedirs(output_path, exist_ok=True)

# Save the DataFrame to a JSON file with the desired structure
skillset_json = {
    "combined_skillset": combined_skillset.to_dict(orient='records')
}

# Save to file
with open(os.path.join(output_path, output_file), 'w') as json_file:
    json.dump(skillset_json, json_file, indent=2)

### 'Age', EdLevel', 'YearsCode', 'YearsCodePro', 'DevType', 'Country', 'LearnCode'

In [28]:
years_code = df['YearsCode'].dropna().unique()
years_code

array(['18', '27', '12', '6', '21', '4', '5', '20', '14', '10', '15',
       '11', '3', '24', '8', '13', 'Less than 1 year', '16', '33', '22',
       '30', '32', '7', '35', '28', '40', '17', '29', '19',
       'More than 50 years', '9', '38', '26', '34', '25', '2', '45', '23',
       '31', '43', '1', '48', '41', '50', '39', '42', '37', '36', '44',
       '46', '49', '47'], dtype=object)

In [30]:
years_code_pro = df['YearsCodePro'].dropna().unique()
years_code_pro

array(['9', '23', '7', '4', '21', '3', '15', 'Less than 1 year', '10',
       '2', '6', '14', '5', '19', '13', '16', '28', '1', '30', '11', '8',
       '25', '32', '24', '40', '17', '45', '29', '12', '31', '20', '18',
       '50', '27', '43', '22', '26', '38', '33', '44', '35', '34', '37',
       '42', '41', 'More than 50 years', '47', '36', '39', '48', '46',
       '49'], dtype=object)

In [31]:
edl = df['EdLevel'].dropna().unique()
edl

array(['Bachelor’s degree (B.A., B.S., B.Eng., etc.)',
       'Some college/university study without earning a degree',
       'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)',
       'Primary/elementary school',
       'Professional degree (JD, MD, Ph.D, Ed.D, etc.)',
       'Associate degree (A.A., A.S., etc.)',
       'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)',
       'Something else'], dtype=object)

In [42]:
learn_code = df['LearnCode'].dropna().unique()
learn_code[0]

'Books / Physical media;Colleague;Friend or family member;Hackathons (virtual or in-person);Online Courses or Certification;On the job training;Other online resources (e.g., videos, blogs, forum);School (i.e., University, College, etc)'

In [50]:
len(learn_code)

790

In [51]:
import re

# Extract unique learning methods using regular expressions
unique_learning_methods = set()
pattern = re.compile(r'[^;]+')
for methods in learn_code:
    matches = pattern.findall(methods)
    unique_learning_methods.update(matches)

# Convert the set to an array
unique_learning_methods_array = pd.Series(list(unique_learning_methods))

# Display the unique learning methods
unique_learning_methods_array

0              School (i.e., University, College, etc)
1                              Friend or family member
2                      Online Courses or Certification
3                               Books / Physical media
4                                      Coding Bootcamp
5                              Other (please specify):
6                                            Colleague
7                    Hackathons (virtual or in-person)
8    Other online resources (e.g., videos, blogs, f...
9                                  On the job training
dtype: object

In [52]:
country = df['Country'].dropna().unique()
country

array(['United States of America', 'Philippines',
       'United Kingdom of Great Britain and Northern Ireland', 'Finland',
       'India', 'Australia', 'Netherlands', 'Germany', 'Sweden', 'France',
       'Albania', 'Nigeria', 'Spain', 'South Africa', 'Belgium', 'Italy',
       'Brazil', 'Portugal', 'Bangladesh', 'Canada', 'Argentina',
       'Switzerland', 'Sri Lanka', 'Poland', 'Lebanon', 'Lithuania',
       'Serbia', 'Cyprus', 'China', 'Bahrain',
       'Iran, Islamic Republic of...', 'Pakistan', 'Egypt',
       'Russian Federation', 'Turkey', 'Slovakia', 'Latvia', 'Greece',
       'Austria', 'Denmark', 'Israel', 'Norway', 'Hungary', 'Singapore',
       'United Arab Emirates', 'Croatia', 'Czech Republic', 'Kosovo',
       'Nepal', 'Slovenia', 'Romania', 'Luxembourg', 'Indonesia',
       'Tunisia', 'Republic of Korea', 'Viet Nam', 'Ukraine', 'Kenya',
       'Nomadic', 'Dominican Republic', 'Morocco', 'Uzbekistan',
       'Belarus', 'Isle of Man', 'Estonia', 'Bulgaria',
       'The former Yugoslav Republic of Macedonia', 'Georgia', 'Ireland',
       'Benin', 'Qatar', 'Japan', 'Venezuela, Bolivarian Republic of...',
       'Tajikistan', 'Malta', 'Colombia', 'Bhutan', 'Taiwan', 'Armenia',
       'Oman', 'El Salvador', 'Cuba', 'Cambodia', 'Montenegro',
       'Malaysia', 'Bosnia and Herzegovina', 'Zimbabwe', 'South Korea',
       'Saudi Arabia', 'Thailand', 'Hong Kong (S.A.R.)', 'Peru',
       'Azerbaijan', 'Afghanistan', 'Djibouti', 'Ethiopia', 'Paraguay',
       'New Zealand', 'Panama', 'Zambia', 'Nicaragua', 'Mauritius',
       'Uruguay', 'Congo, Republic of the...', 'Kyrgyzstan', 'Ghana',
       'Andorra', 'Kazakhstan', 'Jordan', 'Iceland',
       'Saint Vincent and the Grenadines', 'Trinidad and Tobago',
       'Ecuador', 'Uganda', 'Mexico', 'Republic of Moldova', 'Guatemala',
       'Mongolia', 'Chile', 'United Republic of Tanzania', 'Myanmar',
       'Algeria', 'Bolivia', 'Belize', 'Swaziland',
       'Syrian Arab Republic', 'Somalia', 'Jamaica', "Côte d'Ivoire",
       'Costa Rica', 'Honduras', 'Yemen', 'Iraq', 'Palestine', 'Senegal',
       "Lao People's Democratic Republic", 'Rwanda', 'Malawi',
       'Sierra Leone', 'Guinea', 'Fiji', 'North Korea', 'Maldives',
       'Barbados', 'Kuwait', 'Brunei Darussalam', 'Palau', 'Angola',
       'Turkmenistan', 'Libyan Arab Jamahiriya', 'Madagascar', 'Lesotho',
       'Cameroon', 'Mozambique', 'Gabon', 'Niger',
       'Democratic Republic of the Congo', 'Mali', 'Burkina Faso',
       'Guinea-Bissau', 'Botswana', 'Liberia', 'Mauritania',
       'Timor-Leste', 'Antigua and Barbuda', 'Grenada', 'Togo',
       "Democratic People's Republic of Korea", 'Dominica', 'Guyana',
       'Namibia', 'Haiti', 'Sudan', 'Saint Lucia', 'Monaco', 'Bahamas',
       'Liechtenstein', 'Burundi', 'Saint Kitts and Nevis',
       'Marshall Islands', 'Samoa', 'Suriname',
       'Central African Republic', 'Cape Verde', 'San Marino'],
      dtype=object)

In [53]:
dev_type = df['DevType'].dropna().unique()
dev_type

array(['Senior Executive (C-Suite, VP, etc.)', 'Developer, back-end',
       'Developer, front-end', 'Developer, full-stack',
       'System administrator',
       'Developer, desktop or enterprise applications',
       'Developer, QA or test', 'Designer',
       'Data scientist or machine learning specialist',
       'Data or business analyst', 'Security professional', 'Educator',
       'Research & Development role', 'Other (please specify):',
       'Developer, mobile', 'Database administrator',
       'Developer, embedded applications or devices', 'Student',
       'Engineer, data', 'Hardware Engineer', 'Product manager',
       'Academic researcher', 'Developer, game or graphics',
       'Cloud infrastructure engineer', 'Engineering manager',
       'Developer Experience', 'Project manager', 'DevOps specialist',
       'Engineer, site reliability', 'Blockchain', 'Developer Advocate',
       'Scientist', 'Marketing or sales professional'], dtype=object)